## Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

## Build Results
bin/
obj/
[Bb]uild/
[Rr]elease/
[Dd]ebug/

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

## IIS Express
*.vspscc
*.vssscc

## Others
*.dbmdl
*.pdb
*.vscode/

# Archivos a ignorar en Docker build
.git
.gitignore
README.md
.env
.dockerignore
obj/
bin/Debug/
*.user
*.suo
.vs/
packages/
node_modules/
